{% extends "base.html" %} {% block content %}

<header>
  <h1>PROJECTS</h1>
</header>

<main>
  <div>
    <span>filter by:</span>
    {% for current_tech in used_tech %}
    <form method="POST" action="/filter/{{ current_tech }}">
      <button type="submit">{{ current_tech }}</button>
    </form>
    {% endfor %}
  </div>

  <p>result for: {{ tag }}</p>

  {% for project in data %}
  <div class="section-container">
    <div class="title-with-date">
      <h3>{{ project["name"]}}</h3>
      <div class="date">
        <time datetime="{{ project['start date']}}"
          >{{ project['start month']}}/{{ project['start year'] }}</time
        >
        -
        <time datetime="{{ project['end date']}}"
          >{{ project['end month']}}/{{ project['end year'] }}</time
        >
      </div>
    </div>

    <p>{{ project['description']}}</p>
    <ul class="ul-bullet">
      <li>
        <span>technologies:</span>
        {% for tech in project['technologies'] %}
        <span>{{ tech }}</span>
        {% endfor %}
      </li>
      <li>
        <a target="_blank" href="{{ project['source code'] }}">source code</a
        ><i class="fa-brands fa-github"> </i>
      </li>
    </ul>
  </div>
  {% endfor %}
</main>

<script src="../static/script.js"></script>
{% endblock %}
